<?xml version='1.0' encoding='utf-8'?>
<widget id="de.dl9rdz" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="schemas.android.com/apk/res/android">
    <name>rdzSonde</name>
    <description>
        A sample Apache Cordova application that uses rdzwx-plugin.
    </description>
    <author email="dl9rdz@darc.de">
	Hansi Reiser, dl9rdz
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
        </edit-config>
        <resource-file src="res/build-extras.gradle" target="app/build-extras.gradle"/>
    </platform>
    <icon src="res/icon512.png"/>
    <platform name="electron">
      <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>

    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="GradlePluginKotlinCodeStyle" value="official" />
    <preference name="GradlePluginKotlinVersion" value="1.7.21" />

    <preference name="android-minSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="35" />

    <preference name="AndroidInsecureFileModeEnabled" value="true" />

</widget>
